@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:active {
  color: var(--red);
}

body {
  position: relative;
}

header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 40px;
  height: 20px;
  background-color: white;
  border: 0;
  outline: 0;
  background-image: url('./assets/images/icon-menu.svg');
  background-size: cover;
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: none;
}

.modal-left {
  width: 30%;
  background-color: black;
  opacity: 0.8;
}

.modal-right {
  width: 70%;
  background-color: white;
}

.close {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-top: 2.1rem;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url('./assets/images/icon-menu-close.svg');
  background-size: cover;
  align-self: flex-end;
  cursor: pointer;
}

.modal-nav {
  margin-left: 1.5rem;
  margin-top: 4rem;
}

.modal-li {
  margin-bottom: 1.5rem;
}

.modal-a {
  color: var(--dark-blue);
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.main-image {
  width: 100%;
  height: 350px;
}

h1 {
  font-size: 1rem;
  margin-top: 1rem;
}

.main-text {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--dark-gray-blue);
}

.read {
  color: var(--white);
  width: 50%;
  height: 2.5rem;
  background-color: var(--red);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
  margin-top: 1rem;
  letter-spacing: 3px;
  font-weight: 700;
}

.read:active {
  background-color: var(--dark-blue);
}

.news-container {
  background-color: var(--dark-blue);
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  color: white;
}

.new {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: 700;
}

dl {
  margin-top: 2rem;
}

dt {
  font-size: 1.2rem;
}
dd {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  color: var(--gray-blue);
}

.divisor {
  width: 100%;
  background-color: var(--gray-blue);
  height: 0.9px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.new-a {
  color: var(--white);
}
.new-a:active {
  color: var(--orange);
}

.others {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  row-gap: 1.5rem;
}

.others-topics {
  display: flex;
}

.bottom-images {
  max-width: 30%;
  margin-right: 1rem;
}

.numbers {
  color: var(--gray-blue);
  font-size: 1.5rem;
  font-weight: 800;
}

.bottom-titles,
.main-title {
  color: var(--dark-blue);
}
.titles-margin {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.others-p {
  color: var(--dark-gray-blue);
  font-size: 0.9rem;
}

.responsive-nav {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .responsive-nav {
    display: flex;
    margin-right: -1.2rem;
    font-size: 1.2rem;
    padding-right: 10px;
  }

  .responsive-nav > li {
    margin: 0 1rem;
  }

  .responsive-nav > li > a {
    color: var(--dark-blue);
  }

  .responsive-nav > li > a:active {
    color: var(--red);
  }

  header {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .main {
    width: 75%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1.5rem;
  }

  .title-text {
    display: flex;
    justify-content: space-between;
  }

  .main-title {
    width: 40%;
  }

  .main-title > h1 {
    font-size: 4rem;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
  }

  .main-text > p {
    font-size: 1.4rem;
  }

  .main-content {
    width: 75%;
  }

  .news-container {
    width: 25%;
    margin-top: 0;
    max-height: 100%;
    padding-block: 2rem;
  }

  .others {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .divisor {
    margin-block: 2rem;
  }

  dl {
    margin-top: 1rem;
  }

  dd {
    font-size: 1rem;
  }

  dt {
    margin-bottom: 2rem;
  }

  .topic-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .others {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .numbers {
    margin-block: -10px;
    font-size: 3rem;
  }

  .bottom-titles {
    font-size: 1.3rem;
  }

  .others-p {
    font-size: 1rem;
  }

  .new {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .new-a {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .read {
    font-size: 1.3rem;
    height: 3.5rem;
    font-weight: 700;
  }
}
